:root {
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --light-gray-bg-btns: hsl(0, 0%, 95%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: .9375rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.container {
    display: flex;

}

.card {
    flex-direction: column;
    padding: 2.9375rem 0 2.9375rem 2.9375rem;
    max-width: 16.25rem;
}

.card-orange {
    background-color: var(--orange);
    border-top-left-radius: .625rem;
    border-bottom-left-radius: .625rem;
}

.card-cyan {
    background-color: var(--dark-cyan);
}

.card-darkcyan {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: .625rem;
    border-bottom-right-radius: .625rem;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--light-gray-bg-btns);
    font-size: 2.5rem;
    font-weight: 700;
}

.description {
    padding-right: 2.5rem;
    color: var(--transparent-white-p);


}

.learn-more {
    margin-top: 5.625rem;
    padding: .9375rem 1.875rem;
    border: .125rem solid var(--light-gray-bg-btns);
    border-radius: 1.875rem;
    transition: 500ms ease;
    cursor: pointer;
    font-size: 1.0625rem;
}

.learn-1 {
    color: var(--orange);
}

.learn-2 {
    color: var(--dark-cyan);
}

.learn-3 {
    color: var(--very-dark-cyan);
}

.learn-more:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--light-gray-bg-btns);

}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .card-orange {
        border-bottom-left-radius: 0;
        border-top-right-radius: .625rem;
    }

    .card-darkcyan {
        border-top-right-radius: 0;
        border-bottom-left-radius: .625rem;
    }

    .learn-more {
        margin-top: 1.875rem;
    }

}